.contact-form h3 {
  text-align: center;
  color: #00bdba;
}

.roundborder {
  border-radius: 25px;
  padding: 5px;
  text-shadow: 2px 2px 4px #00bdba;
}
.navbar {
  box-shadow: 0px 8px 10px -5px #00bdba;
}
.navbar-inverse {
  background-color: black;
}
.btn-dark {
  background-color: black;
  border-radius: 25px;

  text-shadow: 2px 2px 4px #00bdba;
}
